$scroll_color: rgba(150, 150, 150, .3);

$bg_color_light_pro: rgba(255, 255, 255, .2);

$bg_color_light: rgba(255, 255, 255, .4);

$bg_color_normal: rgba(255, 255, 255, .6);

$bg_color_dark: rgba(255, 255, 255, .8);

$white_whole: #fff;

$text_placeholder: #999;

$text_light: #666;

$text_dark: #333;

$shadow_light: rgba(0, 0, 0, .2);

$shadow_normal: rgba(0, 0, 0, .4);

$shadow_dark: rgba(0, 0, 0, .6);

$em_light: #679EF1;

$em_dark: #136cf1;

$logo_text_light: #E8D8C7;

$logo_text_dark: #0C260C;

$logo_light: #52533A;

$logo_dark: #65272C;

$menu_active: #CF442C;
