.pop-list {
  ul {
    & > li {
      & > .top-info {
        width: 100%;
        display: flex;
        align-items: center;

        .name {
          max-width: calc(100% - 60px);

          & > em {
            color: #679EF1;
            margin: 0 2px;
          }
        }
  
        .el-tag {
          margin-right: 10px;
          padding: 5px;
          display: flex;
          height: 20px;
          align-items: center;
        }
      }

      .bottom-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  } 
}

.el-tag {
  border-width: 0; 
}