@import '_base.scss';
@import 'animation.scss';
@import 'header.scss';
@import 'home.scss';
@import 'result.scss';

.app {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  

  .main-body {
    position: relative;
    width: 100%;
    height: calc(100% - 61px);
    z-index: 101;
  }

  .flur-box {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(5px);
    background-color: $scroll_color;
    z-index: 100;

    @for $i from 1 through length($Solar) {
      $item: nth($Solar, $i);
      &.login-bg#{$i} {
        $sol: map-get($item, name);
        @include web_bg('/local/file/bg.jpeg?img=#{$sol}.jpeg');
        background-size: auto calc(100% + 86px);
        background-position: center -43px;
      }
    }
  }
}
